<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bohai.employeeSalary.dao.StaffSalaryMapper">
  <resultMap id="BaseResultMap" type="com.bohai.employeeSalary.entity.StaffSalary">
   
    <result column="STAFF_NUMBER" jdbcType="VARCHAR" property="staffNumber" />
    <result column="STAFF_DEPARTMENT_ID" jdbcType="VARCHAR" property="staffDepartmentId" />
    <result column="ACHIEMENT_SALARY" jdbcType="VARCHAR" property="achiementSalary" />
    <result column="PAY_DATE" jdbcType="VARCHAR" property="payDate" />
    <result column="SALARY_OTHER" jdbcType="VARCHAR" property="salaryOther" />
    <result column="OTHER_REMARK" jdbcType="VARCHAR" property="otherRemark" />
    <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="VARCHAR" property="updateTime" />
    <result column="PAY_BASE" jdbcType="VARCHAR" property="payBase" />
    <result column="PENSION_PERSONAL" jdbcType="VARCHAR" property="pensionPersonal" />
    <result column="PENSION_COMPANY" jdbcType="VARCHAR" property="pensionCompany" />
    <result column="MEDICAL_PERSONAL" jdbcType="VARCHAR" property="medicalPersonal" />
    <result column="MEDICAL_COMPANY" jdbcType="VARCHAR" property="medicalCompany" />
    <result column="UNEMPLOYMENT_PERSONAL" jdbcType="VARCHAR" property="unemploymentPersonal" />
    <result column="UNEMPLOYMENT_COMPANY" jdbcType="VARCHAR" property="unemploymentCompany" />
    <result column="INJURY_COMPANY" jdbcType="VARCHAR" property="injuryCompany" />
    <result column="BIRTH_COMPANY" jdbcType="VARCHAR" property="birthCompany" />
    <result column="PERSONAL_RESERVE1" jdbcType="VARCHAR" property="personalReserve1" />
    <result column="PERSONAL_RESERVE2" jdbcType="VARCHAR" property="personalReserve2" />
    <result column="COMPANY_RESERVE1" jdbcType="VARCHAR" property="companyReserve1" />
    <result column="COMPANY_RESERVE2" jdbcType="VARCHAR" property="companyReserve2" />
    <result column="WARM_SUBSIDY" jdbcType="VARCHAR" property="warmSubsidy" />
    <result column="PENSION_PERSONAL_PERCENT" jdbcType="VARCHAR" property="pensionPersonalPercent" />
    <result column="PENSION_COMPANY_PERCENT" jdbcType="VARCHAR" property="pensionCompanyPercent" />
    <result column="MEDICAL_PERSONAL_PERCENT" jdbcType="VARCHAR" property="medicalPersonalPercent" />
    <result column="MEDICAL_COMPANY_PERCENT" jdbcType="VARCHAR" property="medicalCompanyPercent" />
    <result column="UNEMPLOYMENT_PERSONAL_PERCENT" jdbcType="VARCHAR" property="unemploymentPersonalPercent" />
    <result column="UNEMPLOYMENT_COMPANY_PERCENT" jdbcType="VARCHAR" property="unemploymentCompanyPercent" />
    <result column="INJURY_COMPANY_PERCENT" jdbcType="VARCHAR" property="injuryCompanyPercent" />
    <result column="BIRTH_COMPAY_PERCENT" jdbcType="VARCHAR" property="birthCompayPercent" />
    <result column="ACTUAL_SALARY" jdbcType="VARCHAR" property="actualSalary" />
    <result column="PERSONAL_TOTAL" jdbcType="VARCHAR" property="personalTotal" />
    <result column="COMPANY_TOTAL" jdbcType="VARCHAR" property="companyTotal" />
    <result column="PAYMENT_TOTAL" jdbcType="VARCHAR" property="paymentTotal" />
    <result column="HOUSE_BASE_PERSONAL" jdbcType="VARCHAR" property="houseBasePersonal" />
    <result column="HOUSE_BASE_COMPANY" jdbcType="VARCHAR" property="houseBaseCompany" />
    <result column="HOUSE_SUPPLY_PERSONAL" jdbcType="VARCHAR" property="houseSupplyPersonal" />
    <result column="HOUSE_SUPPLY_COMPANY" jdbcType="VARCHAR" property="houseSupplyCompany" />
    <result column="HOUSE_BASE_PERSONAL_PERCENT" jdbcType="VARCHAR" property="houseBasePersonalPercent" />
    <result column="HOUSE_BASE_COMPANY_PERCENT" jdbcType="VARCHAR" property="houseBaseCompanyPercent" />
    <result column="HOUSE_SUPPLY_PERSONAL_PERCENT" jdbcType="VARCHAR" property="houseSupplyPersonalPercent" />
    <result column="HOUSE_SUPPLY_COMPANY_PERCENT" jdbcType="VARCHAR" property="houseSupplyCompanyPercent" />
    <result column="HOUSE_PERSONAL_TOTAL" jdbcType="VARCHAR" property="housePersonalTotal" />
    <result column="HOUSE_COMPANY_TOTAL" jdbcType="VARCHAR" property="houseCompanyTotal" />
    <result column="HOUSE_TOATAL" jdbcType="VARCHAR" property="houseToatal" />
    <result column="INCOME_TAX" jdbcType="VARCHAR" property="incomeTax"/>
    <result column="GROSS_SALARY" jdbcType="VARCHAR" property="grossSalary"/>
    <result column="TAX_BASE" jdbcType="VARCHAR" property="taxBase"/>
    
     <result column="POSITIONS_SALARY" jdbcType="VARCHAR" property="postionsSalary"/>
     <result column="SKILLS_SALARY" jdbcType="VARCHAR" property="skillsSalary"/>
     <result column="YEARS_SALARY" jdbcType="VARCHAR" property="yearsSalary"/>
       
    
    <!-- 员工信息表和部门表的字段 -->
     <result column="PROBATION_DATE_START" jdbcType="TIMESTAMP" property="probationDateStart" />
     <result column="FORMAL_DATE_START" jdbcType="TIMESTAMP" property="formalDateStart" />
     <result column="LEAVE_DATE" jdbcType="TIMESTAMP" property="leaveDate" />
     <result column="NAME" jdbcType="VARCHAR" property="name" />
     <result column="ID_NUMBER" jdbcType="VARCHAR" property="idNumber" />
     <result column="POSITION_SALARY" jdbcType="VARCHAR" property="positionSalary" />
     <result column="WORK_YEARS" jdbcType="VARCHAR" property="workYears" />
     <result column="EMAIL" jdbcType="VARCHAR" property="email" />
     <result column="DEP_NAME" jdbcType="VARCHAR" property="depName"  />
     <result column="IS_LEAVE" jdbcType="VARCHAR" property="isLeave"  />
     <result column="IS_PROBATION" jdbcType="VARCHAR" property="isProbation"  />   
     <result column="COEFFICEIENT" jdbcType="VARCHAR" property="coefficeient"  />   
     <result column="SKILL_SALARY" jdbcType="VARCHAR" property="skillSalary"  />             
       
       
 </resultMap>
  <sql id="Base_Column_List">
   
    STAFF_NUMBER, STAFF_DEPARTMENT_ID, ACHIEMENT_SALARY, PAY_DATE, SALARY_OTHER, OTHER_REMARK, 
    CREATE_TIME, UPDATE_TIME, PAY_BASE, PENSION_PERSONAL, PENSION_COMPANY, MEDICAL_PERSONAL, 
    MEDICAL_COMPANY, UNEMPLOYMENT_PERSONAL, UNEMPLOYMENT_COMPANY, INJURY_COMPANY, BIRTH_COMPANY, 
    PERSONAL_RESERVE1, PERSONAL_RESERVE2, COMPANY_RESERVE1, COMPANY_RESERVE2, WARM_SUBSIDY, 
    PENSION_PERSONAL_PERCENT, PENSION_COMPANY_PERCENT, MEDICAL_PERSONAL_PERCENT, MEDICAL_COMPANY_PERCENT, 
    UNEMPLOYMENT_PERSONAL_PERCENT, UNEMPLOYMENT_COMPANY_PERCENT, INJURY_COMPANY_PERCENT, 
    BIRTH_COMPAY_PERCENT, ACTUAL_SALARY, PERSONAL_TOTAL, COMPANY_TOTAL, PAYMENT_TOTAL, 
    HOUSE_BASE_PERSONAL, HOUSE_BASE_COMPANY, HOUSE_SUPPLY_PERSONAL, HOUSE_SUPPLY_COMPANY, 
    HOUSE_BASE_PERSONAL_PERCENT, HOUSE_BASE_COMPANY_PERCENT, HOUSE_SUPPLY_PERSONAL_PERCENT, 
    HOUSE_SUPPLY_COMPANY_PERCENT, HOUSE_PERSONAL_TOTAL, HOUSE_COMPANY_TOTAL, HOUSE_TOATAL,INCOME_TAX,
    GROSS_SALARY,TAX_BASE
  </sql>
  <sql id="StaffInfo_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Aug 15 13:38:03 CST 2017.
    -->
    STAFF_NUMBER AS STAFF_NUM,PROBATION_DATE_START, FORMAL_DATE_START, LEAVE_DATE, NAME,
    POSITION_SALARY, WORK_YEARS, EMAIL,  IS_LEAVE,
    IS_PROBATION , COEFFICEIENT
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    
    select 
    <include refid="Base_Column_List" />
    from STAFF_SALARY
    where STAFF_NUMBER = #{staffNumber,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Aug 17 16:53:33 CST 2017.
    -->
    delete from STAFF_SALARY
    where STAFF_NUMBER = #{staffNumber,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bohai.employeeSalary.entity.StaffSalary">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Aug 17 16:53:33 CST 2017.
    -->
    insert into STAFF_SALARY (STAFF_NUMBER, STAFF_DEPARTMENT_ID, ACHIEMENT_SALARY, 
      PAY_DATE, SALARY_OTHER, OTHER_REMARK, 
      CREATE_TIME, UPDATE_TIME, PAY_BASE, 
      PENSION_PERSONAL, PENSION_COMPANY, MEDICAL_PERSONAL, 
      MEDICAL_COMPANY, UNEMPLOYMENT_PERSONAL, UNEMPLOYMENT_COMPANY, 
      INJURY_COMPANY, BIRTH_COMPANY, PERSONAL_RESERVE1, 
      PERSONAL_RESERVE2, COMPANY_RESERVE1, COMPANY_RESERVE2, 
      WARM_SUBSIDY, PENSION_PERSONAL_PERCENT, PENSION_COMPANY_PERCENT, 
      MEDICAL_PERSONAL_PERCENT, MEDICAL_COMPANY_PERCENT, 
      UNEMPLOYMENT_PERSONAL_PERCENT, UNEMPLOYMENT_COMPANY_PERCENT, 
      INJURY_COMPANY_PERCENT, BIRTH_COMPAY_PERCENT, 
      ACTUAL_SALARY, PERSONAL_TOTAL, COMPANY_TOTAL, 
      PAYMENT_TOTAL, HOUSE_BASE_PERSONAL, HOUSE_BASE_COMPANY, 
      HOUSE_SUPPLY_PERSONAL, HOUSE_SUPPLY_COMPANY, 
      HOUSE_BASE_PERSONAL_PERCENT, HOUSE_BASE_COMPANY_PERCENT, 
      HOUSE_SUPPLY_PERSONAL_PERCENT, HOUSE_SUPPLY_COMPANY_PERCENT, 
      HOUSE_PERSONAL_TOTAL, HOUSE_COMPANY_TOTAL, 
      HOUSE_TOATAL)
    values (#{staffNumber,jdbcType=VARCHAR}, #{staffDepartmentId,jdbcType=VARCHAR}, #{achiementSalary,jdbcType=VARCHAR}, 
      #{payDate,jdbcType=VARCHAR}, #{salaryOther,jdbcType=VARCHAR}, #{otherRemark,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR}, #{payBase,jdbcType=VARCHAR}, 
      #{pensionPersonal,jdbcType=VARCHAR}, #{pensionCompany,jdbcType=VARCHAR}, #{medicalPersonal,jdbcType=VARCHAR}, 
      #{medicalCompany,jdbcType=VARCHAR}, #{unemploymentPersonal,jdbcType=VARCHAR}, #{unemploymentCompany,jdbcType=VARCHAR}, 
      #{injuryCompany,jdbcType=VARCHAR}, #{birthCompany,jdbcType=VARCHAR}, #{personalReserve1,jdbcType=VARCHAR}, 
      #{personalReserve2,jdbcType=VARCHAR}, #{companyReserve1,jdbcType=VARCHAR}, #{companyReserve2,jdbcType=VARCHAR}, 
      #{warmSubsidy,jdbcType=VARCHAR}, #{pensionPersonalPercent,jdbcType=VARCHAR}, #{pensionCompanyPercent,jdbcType=VARCHAR}, 
      #{medicalPersonalPercent,jdbcType=VARCHAR}, #{medicalCompanyPercent,jdbcType=VARCHAR}, 
      #{unemploymentPersonalPercent,jdbcType=VARCHAR}, #{unemploymentCompanyPercent,jdbcType=VARCHAR}, 
      #{injuryCompanyPercent,jdbcType=VARCHAR}, #{birthCompayPercent,jdbcType=VARCHAR}, 
      #{actualSalary,jdbcType=VARCHAR}, #{personalTotal,jdbcType=VARCHAR}, #{companyTotal,jdbcType=VARCHAR}, 
      #{paymentTotal,jdbcType=VARCHAR}, #{houseBasePersonal,jdbcType=VARCHAR}, #{houseBaseCompany,jdbcType=VARCHAR}, 
      #{houseSupplyPersonal,jdbcType=VARCHAR}, #{houseSupplyCompany,jdbcType=VARCHAR}, 
      #{houseBasePersonalPercent,jdbcType=VARCHAR}, #{houseBaseCompanyPercent,jdbcType=VARCHAR}, 
      #{houseSupplyPersonalPercent,jdbcType=VARCHAR}, #{houseSupplyCompanyPercent,jdbcType=VARCHAR}, 
      #{housePersonalTotal,jdbcType=VARCHAR}, #{houseCompanyTotal,jdbcType=VARCHAR}, 
      #{houseToatal,jdbcType=VARCHAR})
  </insert>
 
  <update id="updateByStaffNumAndDate" parameterType="com.bohai.employeeSalary.entity.StaffSalary">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Aug 17 16:53:33 CST 2017.
    -->
    update STAFF_SALARY
    <set>
      <if test="staffDepartmentId != null">
        STAFF_DEPARTMENT_ID = #{staffDepartmentId,jdbcType=VARCHAR},
      </if>
      <if test="achiementSalary != null">
        ACHIEMENT_SALARY = #{achiementSalary,jdbcType=VARCHAR},
      </if>
     
      <if test="salaryOther != null">
        SALARY_OTHER = #{salaryOther,jdbcType=VARCHAR},
      </if>
      <if test="otherRemark != null">
        OTHER_REMARK = #{otherRemark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="payBase != null">
        PAY_BASE = #{payBase,jdbcType=VARCHAR},
      </if>
      <if test="pensionPersonal != null">
        PENSION_PERSONAL = #{pensionPersonal,jdbcType=VARCHAR},
      </if>
      <if test="pensionCompany != null">
        PENSION_COMPANY = #{pensionCompany,jdbcType=VARCHAR},
      </if>
      <if test="medicalPersonal != null">
        MEDICAL_PERSONAL = #{medicalPersonal,jdbcType=VARCHAR},
      </if>
      <if test="medicalCompany != null">
        MEDICAL_COMPANY = #{medicalCompany,jdbcType=VARCHAR},
      </if>
      <if test="unemploymentPersonal != null">
        UNEMPLOYMENT_PERSONAL = #{unemploymentPersonal,jdbcType=VARCHAR},
      </if>
      <if test="unemploymentCompany != null">
        UNEMPLOYMENT_COMPANY = #{unemploymentCompany,jdbcType=VARCHAR},
      </if>
      <if test="injuryCompany != null">
        INJURY_COMPANY = #{injuryCompany,jdbcType=VARCHAR},
      </if>
      <if test="birthCompany != null">
        BIRTH_COMPANY = #{birthCompany,jdbcType=VARCHAR},
      </if>
      <if test="personalReserve1 != null">
        PERSONAL_RESERVE1 = #{personalReserve1,jdbcType=VARCHAR},
      </if>
      <if test="personalReserve2 != null">
        PERSONAL_RESERVE2 = #{personalReserve2,jdbcType=VARCHAR},
      </if>
      <if test="companyReserve1 != null">
        COMPANY_RESERVE1 = #{companyReserve1,jdbcType=VARCHAR},
      </if>
      <if test="companyReserve2 != null">
        COMPANY_RESERVE2 = #{companyReserve2,jdbcType=VARCHAR},
      </if>
      <if test="warmSubsidy != null">
        WARM_SUBSIDY = #{warmSubsidy,jdbcType=VARCHAR},
      </if>
      <if test="pensionPersonalPercent != null">
        PENSION_PERSONAL_PERCENT = #{pensionPersonalPercent,jdbcType=VARCHAR},
      </if>
      <if test="pensionCompanyPercent != null">
        PENSION_COMPANY_PERCENT = #{pensionCompanyPercent,jdbcType=VARCHAR},
      </if>
      <if test="medicalPersonalPercent != null">
        MEDICAL_PERSONAL_PERCENT = #{medicalPersonalPercent,jdbcType=VARCHAR},
      </if>
      <if test="medicalCompanyPercent != null">
        MEDICAL_COMPANY_PERCENT = #{medicalCompanyPercent,jdbcType=VARCHAR},
      </if>
      <if test="unemploymentPersonalPercent != null">
        UNEMPLOYMENT_PERSONAL_PERCENT = #{unemploymentPersonalPercent,jdbcType=VARCHAR},
      </if>
      <if test="unemploymentCompanyPercent != null">
        UNEMPLOYMENT_COMPANY_PERCENT = #{unemploymentCompanyPercent,jdbcType=VARCHAR},
      </if>
      <if test="injuryCompanyPercent != null">
        INJURY_COMPANY_PERCENT = #{injuryCompanyPercent,jdbcType=VARCHAR},
      </if>
      <if test="birthCompayPercent != null">
        BIRTH_COMPAY_PERCENT = #{birthCompayPercent,jdbcType=VARCHAR},
      </if>
      <if test="actualSalary != null">
        ACTUAL_SALARY = #{actualSalary,jdbcType=VARCHAR},
      </if>
      <if test="personalTotal != null">
        PERSONAL_TOTAL = #{personalTotal,jdbcType=VARCHAR},
      </if>
      <if test="companyTotal != null">
        COMPANY_TOTAL = #{companyTotal,jdbcType=VARCHAR},
      </if>
      <if test="paymentTotal != null">
        PAYMENT_TOTAL = #{paymentTotal,jdbcType=VARCHAR},
      </if>
      <if test="houseBasePersonal != null">
        HOUSE_BASE_PERSONAL = #{houseBasePersonal,jdbcType=VARCHAR},
      </if>
      <if test="houseBaseCompany != null">
        HOUSE_BASE_COMPANY = #{houseBaseCompany,jdbcType=VARCHAR},
      </if>
      <if test="houseSupplyPersonal != null">
        HOUSE_SUPPLY_PERSONAL = #{houseSupplyPersonal,jdbcType=VARCHAR},
      </if>
      <if test="houseSupplyCompany != null">
        HOUSE_SUPPLY_COMPANY = #{houseSupplyCompany,jdbcType=VARCHAR},
      </if>
      <if test="houseBasePersonalPercent != null">
        HOUSE_BASE_PERSONAL_PERCENT = #{houseBasePersonalPercent,jdbcType=VARCHAR},
      </if>
      <if test="houseBaseCompanyPercent != null">
        HOUSE_BASE_COMPANY_PERCENT = #{houseBaseCompanyPercent,jdbcType=VARCHAR},
      </if>
      <if test="houseSupplyPersonalPercent != null">
        HOUSE_SUPPLY_PERSONAL_PERCENT = #{houseSupplyPersonalPercent,jdbcType=VARCHAR},
      </if>
      <if test="houseSupplyCompanyPercent != null">
        HOUSE_SUPPLY_COMPANY_PERCENT = #{houseSupplyCompanyPercent,jdbcType=VARCHAR},
      </if>
      <if test="housePersonalTotal != null">
        HOUSE_PERSONAL_TOTAL = #{housePersonalTotal,jdbcType=VARCHAR},
      </if>
      <if test="houseCompanyTotal != null">
        HOUSE_COMPANY_TOTAL = #{houseCompanyTotal,jdbcType=VARCHAR},
      </if>
      <if test="houseToatal != null">
        HOUSE_TOATAL = #{houseToatal,jdbcType=VARCHAR},
      </if>
       <if test="incomeTax != null">
        INCOME_TAX = #{incomeTax,jdbcType=VARCHAR},
      </if>
       <if test="grossSalary != null">
        GROSS_SALARY = #{grossSalary,jdbcType=VARCHAR},
      </if>
       <if test="taxBase != null">
        TAX_BASE = #{taxBase,jdbcType=VARCHAR},
      </if>
      
       <if test="postionsSalary != null">
        POSITIONS_SALARY = #{postionsSalary,jdbcType=VARCHAR},
      </if>
       <if test="skillsSalary != null">
        SKILLS_SALARY = #{skillsSalary,jdbcType=VARCHAR},
      </if>
       <if test="yearsSalary != null">
        YEARS_SALARY = #{yearsSalary,jdbcType=VARCHAR},
      </if>
    </set>
       where STAFF_NUMBER = #{staffNumber,jdbcType=VARCHAR}
       and PAY_DATE = #{payDate,jdbcType=VARCHAR}
  </update>

 
  <insert id="insertSelective" parameterType="com.bohai.employeeSalary.entity.StaffSalary">
   
    insert into STAFF_SALARY
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="staffNumber != null">
        STAFF_NUMBER,
      </if>
      <if test="staffDepartmentId != null">
        STAFF_DEPARTMENT_ID,
      </if>
      <if test="achiementSalary != null">
        ACHIEMENT_SALARY,
      </if>
      <if test="payDate != null">
        PAY_DATE,
      </if>
      <if test="salaryOther != null">
        SALARY_OTHER,
      </if>
      <if test="otherRemark != null">
        OTHER_REMARK,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="payBase != null">
        PAY_BASE,
      </if>
      <if test="pensionPersonal != null">
        PENSION_PERSONAL,
      </if>
      <if test="pensionCompany != null">
        PENSION_COMPANY,
      </if>
      <if test="medicalPersonal != null">
        MEDICAL_PERSONAL,
      </if>
      <if test="medicalCompany != null">
        MEDICAL_COMPANY,
      </if>
      <if test="unemploymentPersonal != null">
        UNEMPLOYMENT_PERSONAL,
      </if>
      <if test="unemploymentCompany != null">
        UNEMPLOYMENT_COMPANY,
      </if>
      <if test="injuryCompany != null">
        INJURY_COMPANY,
      </if>
      <if test="birthCompany != null">
        BIRTH_COMPANY,
      </if>
      <if test="personalReserve1 != null">
        PERSONAL_RESERVE1,
      </if>
      <if test="personalReserve2 != null">
        PERSONAL_RESERVE2,
      </if>
      <if test="companyReserve1 != null">
        COMPANY_RESERVE1,
      </if>
      <if test="companyReserve2 != null">
        COMPANY_RESERVE2,
      </if>
      <if test="warmSubsidy != null">
        WARM_SUBSIDY,
      </if>
      <if test="pensionPersonalPercent != null">
        PENSION_PERSONAL_PERCENT,
      </if>
      <if test="pensionCompanyPercent != null">
        PENSION_COMPANY_PERCENT,
      </if>
      <if test="medicalPersonalPercent != null">
        MEDICAL_PERSONAL_PERCENT,
      </if>
      <if test="medicalCompanyPercent != null">
        MEDICAL_COMPANY_PERCENT,
      </if>
      <if test="unemploymentPersonalPercent != null">
        UNEMPLOYMENT_PERSONAL_PERCENT,
      </if>
      <if test="unemploymentCompanyPercent != null">
        UNEMPLOYMENT_COMPANY_PERCENT,
      </if>
      <if test="injuryCompanyPercent != null">
        INJURY_COMPANY_PERCENT,
      </if>
      <if test="birthCompayPercent != null">
        BIRTH_COMPAY_PERCENT,
      </if>
      <if test="actualSalary != null">
        ACTUAL_SALARY,
      </if>
      <if test="personalTotal != null">
        PERSONAL_TOTAL,
      </if>
      <if test="companyTotal != null">
        COMPANY_TOTAL,
      </if>
      <if test="paymentTotal != null">
        PAYMENT_TOTAL,
      </if>
      <if test="houseBasePersonal != null">
        HOUSE_BASE_PERSONAL,
      </if>
      <if test="houseBaseCompany != null">
        HOUSE_BASE_COMPANY,
      </if>
      <if test="houseSupplyPersonal != null">
        HOUSE_SUPPLY_PERSONAL,
      </if>
      <if test="houseSupplyCompany != null">
        HOUSE_SUPPLY_COMPANY,
      </if>
      <if test="houseBasePersonalPercent != null">
        HOUSE_BASE_PERSONAL_PERCENT,
      </if>
      <if test="houseBaseCompanyPercent != null">
        HOUSE_BASE_COMPANY_PERCENT,
      </if>
      <if test="houseSupplyPersonalPercent != null">
        HOUSE_SUPPLY_PERSONAL_PERCENT,
      </if>
      <if test="houseSupplyCompanyPercent != null">
        HOUSE_SUPPLY_COMPANY_PERCENT,
      </if>
      <if test="housePersonalTotal != null">
        HOUSE_PERSONAL_TOTAL,
      </if>
      <if test="houseCompanyTotal != null">
        HOUSE_COMPANY_TOTAL,
      </if>
      <if test="houseToatal != null">
        HOUSE_TOATAL,
      </if>
      
      <if test="postionsSalary != null">
        POSITIONS_SALARY,
      </if>
      <if test="skillsSalary != null">
        SKILLS_SALARY,
      </if>
      <if test="yearsSalary != null">
        YEARS_SALARY,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="staffNumber != null">
        #{staffNumber,jdbcType=VARCHAR},
      </if>
      <if test="staffDepartmentId != null">
        #{staffDepartmentId,jdbcType=VARCHAR},
      </if>
      <if test="achiementSalary != null">
        #{achiementSalary,jdbcType=VARCHAR},
      </if>
      <if test="payDate != null">
        #{payDate,jdbcType=VARCHAR},
      </if>
      <if test="salaryOther != null">
        #{salaryOther,jdbcType=VARCHAR},
      </if>
      <if test="otherRemark != null">
        #{otherRemark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="payBase != null">
        #{payBase,jdbcType=VARCHAR},
      </if>
      <if test="pensionPersonal != null">
        #{pensionPersonal,jdbcType=VARCHAR},
      </if>
      <if test="pensionCompany != null">
        #{pensionCompany,jdbcType=VARCHAR},
      </if>
      <if test="medicalPersonal != null">
        #{medicalPersonal,jdbcType=VARCHAR},
      </if>
      <if test="medicalCompany != null">
        #{medicalCompany,jdbcType=VARCHAR},
      </if>
      <if test="unemploymentPersonal != null">
        #{unemploymentPersonal,jdbcType=VARCHAR},
      </if>
      <if test="unemploymentCompany != null">
        #{unemploymentCompany,jdbcType=VARCHAR},
      </if>
      <if test="injuryCompany != null">
        #{injuryCompany,jdbcType=VARCHAR},
      </if>
      <if test="birthCompany != null">
        #{birthCompany,jdbcType=VARCHAR},
      </if>
      <if test="personalReserve1 != null">
        #{personalReserve1,jdbcType=VARCHAR},
      </if>
      <if test="personalReserve2 != null">
        #{personalReserve2,jdbcType=VARCHAR},
      </if>
      <if test="companyReserve1 != null">
        #{companyReserve1,jdbcType=VARCHAR},
      </if>
      <if test="companyReserve2 != null">
        #{companyReserve2,jdbcType=VARCHAR},
      </if>
      <if test="warmSubsidy != null">
        #{warmSubsidy,jdbcType=VARCHAR},
      </if>
      <if test="pensionPersonalPercent != null">
        #{pensionPersonalPercent,jdbcType=VARCHAR},
      </if>
      <if test="pensionCompanyPercent != null">
        #{pensionCompanyPercent,jdbcType=VARCHAR},
      </if>
      <if test="medicalPersonalPercent != null">
        #{medicalPersonalPercent,jdbcType=VARCHAR},
      </if>
      <if test="medicalCompanyPercent != null">
        #{medicalCompanyPercent,jdbcType=VARCHAR},
      </if>
      <if test="unemploymentPersonalPercent != null">
        #{unemploymentPersonalPercent,jdbcType=VARCHAR},
      </if>
      <if test="unemploymentCompanyPercent != null">
        #{unemploymentCompanyPercent,jdbcType=VARCHAR},
      </if>
      <if test="injuryCompanyPercent != null">
        #{injuryCompanyPercent,jdbcType=VARCHAR},
      </if>
      <if test="birthCompayPercent != null">
        #{birthCompayPercent,jdbcType=VARCHAR},
      </if>
      <if test="actualSalary != null">
        #{actualSalary,jdbcType=VARCHAR},
      </if>
      <if test="personalTotal != null">
        #{personalTotal,jdbcType=VARCHAR},
      </if>
      <if test="companyTotal != null">
        #{companyTotal,jdbcType=VARCHAR},
      </if>
      <if test="paymentTotal != null">
        #{paymentTotal,jdbcType=VARCHAR},
      </if>
      <if test="houseBasePersonal != null">
        #{houseBasePersonal,jdbcType=VARCHAR},
      </if>
      <if test="houseBaseCompany != null">
        #{houseBaseCompany,jdbcType=VARCHAR},
      </if>
      <if test="houseSupplyPersonal != null">
        #{houseSupplyPersonal,jdbcType=VARCHAR},
      </if>
      <if test="houseSupplyCompany != null">
        #{houseSupplyCompany,jdbcType=VARCHAR},
      </if>
      <if test="houseBasePersonalPercent != null">
        #{houseBasePersonalPercent,jdbcType=VARCHAR},
      </if>
      <if test="houseBaseCompanyPercent != null">
        #{houseBaseCompanyPercent,jdbcType=VARCHAR},
      </if>
      <if test="houseSupplyPersonalPercent != null">
        #{houseSupplyPersonalPercent,jdbcType=VARCHAR},
      </if>
      <if test="houseSupplyCompanyPercent != null">
        #{houseSupplyCompanyPercent,jdbcType=VARCHAR},
      </if>
      <if test="housePersonalTotal != null">
        #{housePersonalTotal,jdbcType=VARCHAR},
      </if>
      <if test="houseCompanyTotal != null">
        #{houseCompanyTotal,jdbcType=VARCHAR},
      </if>
      <if test="houseToatal != null">
        #{houseToatal,jdbcType=VARCHAR},
      </if>
      
       <if test="postionsSalary != null">
        #{postionsSalary,jdbcType=VARCHAR},
      </if>
       <if test="skillsSalary != null">
        #{skillsSalary,jdbcType=VARCHAR},
      </if>
       <if test="yearsSalary != null">
        #{yearsSalary,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>  
  <select id="selectByStaffNumAndDate" parameterType="com.bohai.employeeSalary.entity.StaffSalary" resultType="java.lang.Long">
   
    select count(*)
   
    from  STAFF_SALARY
    <where>
        <if test="staffNumber != null and staffNumber !=''">
            STAFF_NUMBER = #{staffNumber,jdbcType=VARCHAR}
        </if>
        <if test="payDate != null and payDate != ''">
            and PAY_DATE = #{payDate,jdbcType=VARCHAR}
        </if>
    </where>
  </select>
  
 
  
 <select id="queryStaffSalaryByParams" parameterType="com.bohai.employeeSalary.vo.QueryStaffSalaryParamVO" resultMap="BaseResultMap">
   SELECT a.*,d.* 
   FROM STAFF_SALARY a left join (
   SELECT <include refid="StaffInfo_Column_List" />,c.DEP_NAME from STAFF_INFO b left join DEPARTMENT c on b.DEPARTMENT_ID=c.DEP_NUMBER
  
   )d on a.STAFF_NUMBER=d.STAFF_NUM 
  <where>
    <if test="staffName !=null and staffName !=''">
  	    d.NAME=#{staffName} 
  	</if>
  	<if test="staffNum !=null and staffNum !=''">
  	    a.STAFF_NUMBER=#{staffNum} 
  	</if>
  	<if test="depNum !=null and depNum !=''">
  		AND a.STAFF_DEPARTMENT_ID=#{depNum}   
  	</if>
  	<if test="payDate !=null and payDate !=''">
  		AND a.PAY_DATE=#{payDate}   
  	</if>
  	<if test="depNums !=null">
  		AND a.STAFF_DEPARTMENT_ID in
  		<foreach collection="depNums" item="item" open="(" separator="," close=")">
  		   #{item} 
  		</foreach>
  		
  		  
  	</if>
  	 
  	</where>
  ORDER BY a.STAFF_DEPARTMENT_ID,PAY_DATE desc
 </select>
  
 
</mapper>